################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Yildiz/AndvancedOOP/W01/.vs/W01/FileContentIndex
/Yildiz/AndvancedOOP/W01/.vs/W01/v17
